.bg-purple{
background-color: rgb(222, 185, 240);
font-size: 60px;
}

.bg-aqua{
    background-color: rgb(182, 240, 240);
}

.bg-peach{
    background-color: rgb(255, 222, 185);
}
.bg-blue{
    background-color: rgb(160, 160, 247);
}
